# Node.js
node_modules/
dist/
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# NestJS specific
coverage/
test-results/

# Serverless Framework
.serverless/
.lambda/
.aws-sam/
.cache/

# VSCode
.vscode/

# WebStorm / JetBrains
.idea/

# macOS
.DS_Store

# Logs
logs/
*.log

# Others
*.swp
*.swo
*.orig